.single__product__info .product__image-container__img {
    width: 126px !important;
    height: 89px !important;
}

.cart__info__product-count #count {
    margin: 0px !important;
}

.single__product__info form label {
    font-weight: bold;
}


.single__product__info form input {
    margin-left: 35px;
}
